<h1>Student Managment System </h1>

<table>
    <thead>
        <tr>
            <td>#</td>
            <td>Name</td>
            <td>Age</td>
            <td>City</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Asmath</td>
            <td>27</td>
            <td>Colombo</td>
            <td><a href="" class="edit">Edit</a></td>
            <td><a href="" class="delete">Delete</a></td>
        </tr>
        <tr>
            <td>1</td>
            <td>Buhary</td>
            <td>27</td>
            <td>Colombo</td>
            <td><a href="" class="edit">Edit</a></td>
            <td><a href="" class="delete">Delete</a></td>
        </tr>
        <tr>
            <td>1</td>
            <td>Asmath</td>
            <td>27</td>
            <td>Colombo</td>
            <td><a href="" class="edit">Edit</a></td>
            <td><a href="" class="delete">Delete</a></td>
        </tr>
        <tr>
            <td>1</td>
            <td>Asmath</td>
            <td>27</td>
            <td>Colombo</td>
            <td><a href="" class="edit">Edit</a></td>
            <td><a href="" class="delete">Delete</a></td>
        </tr>
        <tr>
            <td>1</td>
            <td>Asmath</td>
            <td>27</td>
            <td>Colombo</td>
            <td><a href="" class="edit">Edit</a></td>
            <td><a href="" class="delete">Delete</a></td>
        </tr>
        <tr>
            <td>1</td>
            <td>Asmath</td>
            <td>27</td>
            <td>Colombo</td>
            <td><a href="" class="edit">Edit</a></td>
            <td><a href="" class="delete">Delete</a></td>
        </tr>
    </tbody>
</table>