@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');




*{
    margin: 0;
    padding: 0;
}

html{
    background-color: aquamarine;
}
body{
    font-family: 'Roboto', sans-serif;
    height: 500px;
    width: 400px;
    background-color: rgb(247, 247, 247);    
    margin: 0 auto;
    font-size: 10px;
}


h1{
    font-size:20px;
    color: crimson;
    padding: 10px;
    border-bottom:1px solid rgb(5, 8, 5);
}

table{
    width: 100%;
    margin-top: 20px;
    /* border: 1px solid rgb(243, 55, 55); */
    padding: 10px;
    border-collapse: collapse;
}

table td{
    border: 1px solid rgb(26, 7, 7);
   
}

table thead td{
    padding: 5px;
    background-color: rgb(35, 127, 247);
    color: rgb(254, 255, 255);
}


table tbody td{
    padding: 5px;
    
    
}


table tbody tr:nth-child(even){
    background-color: rgba(143, 211, 250, 0.781);
}

.edit,.delete{
    text-decoration: none;
    color: rgb(245, 242, 241);
    background-color: rgb(11, 86, 224);
    display: block;
    width: 35px;
    padding: 2px;
    text-align: center;
    border-radius: 5px ;
}

.delete{
    background-color: rgb(243, 7, 7);
}